.nav {
    margin:0 auto ;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
}
.item {
    padding: 20px;
}
.item:hover {
    transform: scale(1.2);
    color: rgb(152, 13, 245);
   text-shadow: 10px 2px 2px 2px grey;
    border-radius: 5px;
}
.home {
    font-size: 1.2rem;

}
